body {
    background-color: #232741;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #232741;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

.about-webscrap {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

pre {
    padding: 1rem;
    background-color:cornsilk;
}